{{define "title"}} REGISTER {{end}}
{{define "content"}}
<h1>REGISTRATION</h1>
<form action="registration" method="post">
    <label for="name">FULL NAME *</label><br>
    <input type="text" id="name" name="name" placeholder="full name"><br>
    <label for="username">USER NAME</label><br>
    <input type="text" id="username" value="username" placeholder="username"><br>
    <label for="email">EMAIL *</label><br>
    <input type="email" id="email" value="email" placeholder="enter your email here"><br>
    <label for="password">PASSWORD</label><br>
    <input type="password" id="password" value="password" placeholder="setup your password "><br><br>
    <label for="password">PASSWORD</label><br>
    <input type="password" id="password" value="password2" placeholder="repeat your password"><br><br>
    <input type="submit" value="Submit">
</form>
{{.Name}}
{{.Username}}
{{.Email}}
{{.Password}}
{{.Password2}}



{{end}}